<!DOCTYPE html>
<html lang="en">
  <head>
	    <meta charset="utf-8">
	    <link rel="stylesheet" type="text/css" href="/css/main.css">
  	</head>
  <body >
  <header>
  	<IMG SRC="img/logo1.png">
  </header>

	<section>
    	<form action="" method="post">
                <input type="text" name="username" class="username" placeholder="Nombre de usuario"><br><br>
                <input type="password" name="password" class="password" placeholder="Contrasena"><br><br>
                <a href="jj.html"><button type="submit">iniciar sesión</button></a>
		</form>
	</section>

  </body>
</html>